button {
    transition: all 0.5s;
    cursor: pointer;
}

button:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

#inputs{
    transition: all 0.5s;
    cursor: pointer;
}

#inputs:hover{
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}